In [11]:
import pandas as pd

x = pd.DataFrame({'a':[1,2,3,7],'b':[4,5,6,9]})
y = pd.DataFrame({'c':[6,4,8,2],'d':[4,-1,1,0]})
z = pd.DataFrame({'e':[1,5,7,-2],'f':[0,0,10,-1]})

pd.concat([y,x,z],axis=1)

   c  d  a  b  e   f
0  6  4  1  4  1   0
1  4 -1  2  5  5   0
2  8  1  3  6  7  10
3  2  0  7  9 -2  -1

In [12]:
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder

x = [['A','no'],['B','yes'],['B','no'],['A','no'],['A','yes']]
enc = OneHotEncoder()
x_cod = enc.fit(x)
X_train_encoded = enc.transform(x).toarray()
X_train_encoded

array([[1., 0., 1., 0.],
       [0., 1., 0., 1.],
       [0., 1., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.]])

In [14]:
x = pd.DataFrame({'a':[1,2,3,7],'b':[4,5,6,9]})
y = x.drop(columns=["a"])
display(x)
display(y)

   a  b
0  1  4
1  2  5
2  3  6
3  7  9

   b
0  4
1  5
2  6
3  9

In [ ]:
#
#jobMode = X_train["job"].mode()[0]
#X_train["job"] = X_train["job"].fillna(jobMode)
#X_test["job"] = X_test["job"].fillna(jobMode)

#educationMode = X_train["education"].mode()[0]
#X_train["education"] = X_train["education"].fillna(educationMode)
#X_test["education"] = X_test["education"].fillna(educationMode)

#X_train["contact"] = X_train["contact"].fillna("unknow")
#X_test["contact"] = X_test["contact"].fillna("unknow")

#aplicando as tranformações
#onehot = encoding.OneHotEncoder(variables=cat_variables)
#onehot.fit(X_train)
#X_train = onehot.transform(X_train)
#X_test = onehot.transform(X_test)
#display(y_test)

In [ ]:
#categorical_variables = ['marital','education','poutcome']#

#for i in categorical_variables:
#    prop = []
#    freq = df.groupby('y')[i].value_counts()/len(df.index)#df.groupby('y')[i].value_counts(normalize=True).round(2)
#    for j in freq.index:
#        prop.append(freq[j])

#    labels = freq.index[0:int(len(prop)/2)]
#    new_labels = []
#    for z,name in enumerate(labels):
#        new_labels.append(name[1])

 #   prop_no = prop[0:int(len(prop)/2)]
#    prop_yes = prop[int(len(prop)/2) :]
#
#    weight_counts = {'no':prop_no,'yes':prop_yes}
#    bottom = np.zeros(len(new_labels))

#    display(freq)
#    fig, ax = plt.subplots()
#    colors = ['#d87d37', '#3792d8']#
#
#    width = 0.6
#    x = np.arange(len(labels))
#    for (i,(boolean, weight_count)) in enumerate(weight_counts.items()):
#        p = ax.bar(new_labels, weight_count, width, label=boolean, bottom=bottom,color = colors[i],edgecolor='black')
#        bottom += weight_count
#    
#    plt.title(i)
# #   plt.xticks(x, new_labels)
## ax.legend(handles=[rects1, rects2])
#    plt.show()