In [1]:
import pandas as pd

x = pd.DataFrame({'a':[1,2,3,7],'b':[4,5,6,9]})
y = pd.DataFrame({'c':[6,4,8,2],'d':[4,-1,1,0]})
z = pd.DataFrame({'e':[1,5,7,-2],'f':[0,0,10,-1]})

pd.concat([y,x,z],axis=1)

   c  d  a  b  e   f
0  6  4  1  4  1   0
1  4 -1  2  5  5   0
2  8  1  3  6  7  10
3  2  0  7  9 -2  -1

In [18]:
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder

x = [['A','no'],['B','yes'],['B','no'],['A','no'],['A','yes']]
enc = OneHotEncoder()
x_cod = enc.fit(x)
X_train_encoded = enc.transform(x).toarray()
X_train_encoded

array([[1., 0., 1., 0.],
       [0., 1., 0., 1.],
       [0., 1., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.]])

4